header{
  background-color: skyblue; text-align: center; text-decoration: underline;
}
nav{
  background-color:black;
  word-spacing: 3cm;
  padding-left: 2px;
  margin-top: -10px;
}
body{
  margin-top: -12px;
  background-image: url("images (1).jpeg");
  background-repeat: no-repeat;
  background-size: 1200px;
  font-style: oblique;
  font-size: 16px;
}
a{
  color:blue;
  text-decoration: none;
  font-size: 12px;
}
TABLE{
  background-color: skyblue;
  color: black;
  font-size: 12px;
}
footer{
  background-color: skyblue;text-decoration: underline;
  text-align: center;
  color: white;
  word-spacing: 3cm;
}
img{
  border: 2px solid black;
  height: 60px;
  width: 90px;
}
div{
  font-size: 15px;
  color: blanchedalmond;
}
li{
  font-size: 12px;
  color: blanchedalmond;
}
form p{
  font-size: 10px;
  color: black;
}
form{
  height: 830px;
  width: 400px;
  background-color: skyblue;
  padding: 1px 10px 10px;
  margin-left: 190px;
  margin-top: -12px;
}
legend{
  font-size: 13px;
}
input{
  font-size: 8px;
}
p{
  font-size: 12px;
  color: blanchedalmond;
}
h3{
  margin-left: 170px;
}