body{
  background-color:black;
  color: aliceblue;
  margin: 5px 30px;
  text-align: justify;

}
.col{
  color: chartreuse;

}
.ctr{
  text-align: center;
  font-size: 20px;
}
li b u{
  color:greenyellow;
}
img{
  height: 13px;
  margin-left: 30px;
}
hr{
  margin-left: 100px;
  margin-top: -10px;
  margin-left: 90px;
  color: chartreuse;
}
.mar{
  margin-left: 380px;
}